/* Estilos para el logotipo */
.Logo {
    max-width: 168px;
}

@media (max-width: 800px) {
    .Logo {
        max-width: 105px;
    }
}

/* Estilos para el menú de navegación */
.Menu {
    width: 100%;
    height: 94px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 5%;
    padding-right: 5%;
    background: var(--negro);
    border-bottom: 2px solid var(--primario);
}

body {
    --paddingSuperiorBody: 94px;
    padding-top: var(--paddingSuperiorBody);
}

@media (max-width: 800px) {
    .Menu {
        height: 40px;
        justify-content: center;
    }
    body {
        --paddingSuperiorBody: 40px;
        padding-top: var(--paddingSuperiorBody);
    }
}

/* Estilos para el enlace de botón */
.EnlaceBoton {
    color: var(--blanco);
    border: 1px solid var(--blanco);
    box-sizing: border-box;
    cursor: pointer;
    padding: 16px 24px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    outline: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    transition: opacity .3s;
}

.EnlaceBoton:hover,
.EnlaceBoton:focus {
    opacity: .5;
}

@media (max-width: 800px) {
    a.EnlaceBoton {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        background: var(--primario);
        border-radius: 0;
        border: 0;
        text-align: center;
    }
}
